<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="register" padding>

  <!-- <button ion-button (click)="geolocate()">Get Location</button> -->

  <form (ngSubmit)="register()" [formGroup]="editForm" name="editForm">
    <ion-row>
      <ion-col col-12>
        <ion-list inset>
          <ion-item class="field" [class.ng-invalid]="!editForm.get('name').valid">
            <ion-input placeholder="First Name*" formControlName="name" maxlength="100"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.name.valid">{{validationMessages.required}}</span>
          <ion-item class="field" [class.ng-invalid]="!editForm.get('surname').valid">
            <ion-input placeholder="Last Name*" formControlName="surname" maxlength="100"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.surname.valid">{{validationMessages.required}}</span>
        </ion-list>
      </ion-col>


      <ion-col col-12>
        <ion-title class="title field-title title-md">
          Personal Information
        </ion-title>
      </ion-col>
      <ion-col col-12>
        <ion-list inset>
          <ion-item class="field" [class.ng-invalid]="!editForm.get('mobile').valid">
            <ion-input placeholder="Mobile*" formControlName="mobile" type="number" limit-to="10" [(ngModel)]="registerModel.mobile"
              (ngModelChange)="registerModel.mobile"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.mobile.valid">{{validationMessages.mobileNo}}</span>
          <ion-item class="field">
            <ion-input placeholder="Landline" formControlName="homePhone" type="number" limit-to="10" [(ngModel)]="registerModel.homePhone"
              (ngModelChange)="registerModel.homePhone"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.homePhone.valid">{{validationMessages.mobileNo}}</span>
          <ion-item class="field">
            <ion-input placeholder="Email" formControlName="email" maxlength="100"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.email.valid">{{validationMessages.email}}</span>


          <ion-item class="field">
            <ion-datetime displayFormat="DD MMM YYYY" placeholder="Birth Date" pickerFormat="DD MMM YYYY"
              formControlName="birthDate" [max]="currentDate"></ion-datetime>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.birthDate.valid">{{validationMessages.required}}</span>
          <!-- <ion-item class="field" [class.ng-invalid]="!editForm.get('zone').valid">
            <ion-input placeholder="Zone*" formControlName="zone" maxlength="100"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.zone.valid">{{validationMessages.required}}</span> -->
          <!-- <ion-item class="field" [class.ng-invalid]="!editForm.get('branch').valid">
            <ion-input placeholder="Company Branch" formControlName="branch" maxlength="50"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.branch.valid">{{validationMessages.required}}</span> -->

          <ion-item class="field" [class.ng-invalid]="!editForm.get('branch').valid">
            <ion-label>Company Branch</ion-label>
            <ion-select placeholder="Company Branch" formControlName="branch">
              <ion-option [value]="branch?.CompanyBranch?.id" *ngFor="let branch of companyBranch">
                {{branch?.CompanyBranch?.name}}</ion-option>
            </ion-select>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.branch.valid">{{validationMessages.required}}</span>
        </ion-list>
      </ion-col>

      <ion-col col-12>
        <ion-title class="title field-title title-md">
          Address details
          <ion-icon name="map" (click)="getAllAddress()"></ion-icon>
        </ion-title>
        <ion-list inset>
          <ion-item class="field" [class.ng-invalid]="!editForm.get('address').valid">
            <ion-input placeholder="Street, Nr.*" formControlName="address" maxlength="150"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.address.valid">{{validationMessages.required}}</span>
          <ion-item class="field">
            <ion-input placeholder="Place" formControlName="place" maxlength="100"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.place.valid">{{validationMessages.required}}</span>
          <ion-item class="field" [class.ng-invalid]="!editForm.get('city').valid">
            <ion-input placeholder="City*" formControlName="city" maxlength="50"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.city.valid">{{validationMessages.required}}</span>
          <ion-item class="field" [class.ng-invalid]="!editForm.get('zipcode').valid">
            <ion-input placeholder="Pin Code*" formControlName="zipcode" type="number" limit-to="6" [(ngModel)]="registerModel.zipcode"
              (ngModelChange)="registerModel.zipcode"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.zipcode.valid">{{validationMessages.required}}</span>
          <ion-item class="field" [class.ng-invalid]="!editForm.get('state').valid">
            <ion-input placeholder="State*" formControlName="state" maxlength="50"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.state.valid">{{validationMessages.required}}</span>
          <ion-item class="field" [class.ng-invalid]="!editForm.get('country').valid">
            <ion-input placeholder="Country*" formControlName="country" maxlength="50"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.country.valid">{{validationMessages.required}}</span>

          <ion-item class="field">
            <ion-input placeholder="Latitude" formControlName="latitude" maxlength="30"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.latitude.valid">{{validationMessages.required}}</span>
          <ion-item class="field">
            <ion-input placeholder="Longitude" formControlName="longitude" maxlength="30"></ion-input>
          </ion-item>
          <span class="wrongCredential" *ngIf="!editForm.controls.longitude.valid">{{validationMessages.required}}</span>
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-title class="title field-title title-md">
          Identity
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full type="submit" [disabled]="!editForm.valid">Save </button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
