.register {
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .list-md {
        margin-left: 0;
        margin-right: 0;
        .item-block {
            .item-inner {
                border-bottom: none;
                padding: 0;
            }
        }
    }
    .img-box {
        background-color: transparent;
        padding: 0;
        margin: 5px 0;
        &.user-img {
            margin-top: 30px;
        }
        .item-inner {
            padding: 0;
            border: none;
        }
        .label {
            margin: 0;
            .lbl {
                font-size: 14px;
                color: #fff;
                text-align: center;
                display: block;
                margin: 5px 0 0 0;
            }
        }
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border: none;
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        border: none;
        box-shadow: none;
    }
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child{
        border: none;
        box-shadow: none;
    }
    .field-title .toolbar-title {
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        border-left: solid 5px #cccac9;
        padding: 10px 15px;
        border-radius: 0 40px 0 0;
    }
    .field {
        background-color: transparent;
        input {
            border-bottom: solid 1px #fff;
            padding-left: 0;
            margin: 0;
            font-size: 14px;
            outline: none;
            color: #fff;
            height: 40px;
            width: 100%;
            &::placeholder {
                color: #fff;
            }
        } 
        &.ng-invalid {
            input {
                border-bottom: solid 1px #ce0808;
            }
        }
        &.item-select {
            padding: 0;
            .label {
                margin: 0;
                height: 40px;
                font-size: 14px;
                line-height: 40px;
                color: #fff;
            }
            .select-icon {
                .select-icon-inner {
                    color: #fff;
                }
            }
            .item-cover {
                border-bottom: solid 1px #fff;
                outline: none;
            }
            .select-text {
                color: #fff;
                font-size: 14px;
            }
        }
    }
    .submit-btn {
        background: #fff;
        opacity: 1;
        color: #000;
        box-shadow: none;
        height: 40px;
        line-height: 40px;
        padding: 0;
        margin: 20px 0 0 0;
        border-radius: 5px;
        font-size: 1.5rem;
    }
}
.avatars img{
    margin: auto;
    width:85px !important;
    height:83px !important;
}