<ion-header>
  <ion-navbar>
    <ion-title>
      Search Instalation 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="serialSearchForm" ngInvalidAutoFocus>
    <ion-row>
      <ion-col col-10>
        <ion-input autocomplete="off" placeholder="Serial number" formControlName="serialNumber" type="number"></ion-input>
      </ion-col>
      <ion-col col-2>
        <button ion-button (click)="takePhoto()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </form>
  <ion-item>
    <button ion-button item-right block (click)="checkLabel(serialSearchForm.value.serialNumber)">
      Send
    </button>
  </ion-item>
  <ion-card *ngFor="let item of items">
    <img [src]="'data:image/png;base64,' + item.imageData" />
    <ion-card-content>
      <ion-list no-lines>
        <ion-list-header>Labels</ion-list-header>
        <ion-item *ngFor="let label of item.results[0].labelAnnotations" (click)="checkLabel(label.description)">{{label.description}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
