page-installation-view {
  .register {
    .list-md {
        .item-block {
            min-height: 2.4rem;
      
            .item-inner {
              border-bottom: 1px solid;
            }
          }
    }
  }

  .label-md {
    font-size: 14px;
    margin: 5px 8px 5px 0;
  }
}
