// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.item-md {
  padding-left: 0;
  .datetime-md {
    padding: 13px 8px 13px 0px;
    width: 100%;
    border-bottom: solid 1px #fff;
    padding-left: 0;
    margin: 0;
    font-size: 14px;
    outline: none;
    color: #fff;
    height: 40px;
    width: 100%;
    .datetime-placeholder {
      color: #fff;
    }
  }
  &.ng-invalid {
    .datetime-md {
      border-bottom: solid 1px #ce0808;
    }
    img {
      border: solid 1px #ce0808;
    }
    .lbl {
      color: #ce0808 !important;
    }
  }
}

.toolbar-background {
  background-color: color($colors, primary);
}

ion-header {
  ion-navbar {
    .back-button-text {
      display: none;
    }
  }
  ion-title {
    span,
    div,
    .toolbar-title-md {
      color: color($colors, light);
      font-weight: normal;
      font-size: 17px;
    }
    div {
      font-size: 15px;
    }
  }
  ion-icon {
    color: color($colors, light);
    vertical-align: middle;
  }
}

.popover-md {
  .popover-content {
    border-radius: 7px;
    .item-md {
      padding-left: 10px;
      background-color: #cdcdcd;
    }
    .list-md {
      .item-block {
        .item-inner {
          border-bottom: 0;
        }
      }
    }
  }
}

.item-md {
  .radio-icon {
    display: none;
  }
}
